html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* :root {
    --main-tan: rgb(247, 212, 146);
} */

body {
  font-size: 1.6rem;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 20px;
  display: grid;
  gap: 50px;
  justify-items: center;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.location-div {
  width: 455px;
  display: grid;
  gap: 35px;
}

form {
  display: grid;
  gap: 23px;
  justify-items: center;
}

form > p:first-child {
  display: flex;
  gap: 12px;
  font-size: 2rem;
  align-items: center;
}

form input {
  padding: 5px;
  font-size: 1.8rem;
}

.get-weather-btn {
  padding: 5px 15px;
  font-size: 1.7rem;
}

.location-text {
  font-size: 1.5rem;
  display: flex;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-div {
  width: 85%;
}

.loading {
  display: grid;
  place-items: center;
  font-size: 2.8rem;
  font-weight: 500;
}

.vibe-div,
.error-message-div {
  display: grid;
  justify-items: center;
  gap: 25px;
  font-size: 2.4rem;
  text-align: center;
}

.vibe-div > p {
  line-height: 1.5;
}

.vibe-div > p > span,
.error-message-div > p:first-child {
  font-weight: bold;
}

.vibe-line {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.vibe-line img {
  height: 35px;
}

.vibe-div > p:last-child {
  font-size: 1.8rem;
}

.alert-div {
  margin-top: 30px;
  display: grid;
  gap: 10px;
  justify-items: center;
  text-align: center;
}

.alert-div > p:first-child {
  font-size: 2.2rem;
  font-weight: bold;
  color: red;
}

.alert-div > p:not(:first-child) {
  margin-top: 10px;
  font-size: 1.8rem;
  line-height: 1.5;
}

.alert-div > p > span {
  font-weight: bold;
}

.weather-details-div {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 75px;
  font-size: 2rem;
}

.column {
  display: grid;
  gap: 25px;
}

.column > div:not(.precip-div),
.precip-div > div {
  display: flex;
  gap: 5px;
}

.column > div > p:first-child,
.precip-div > div > p:first-child {
  font-weight: bold;
}

.precip-div {
  display: grid;
  gap: 8px;
}

.precip-div > div:not(:first-child) {
  font-size: 1.7rem;
}